annotated-types==0.7.0
astroid==4.0.4
dill==0.4.1
iniconfig==2.3.0
isort==8.0.1
markdown-it-py==4.2.0
mccabe==0.7.0
mdurl==0.1.2
packaging==26.2
platformdirs==4.10.0
pluggy==1.6.0
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
pylint==4.0.6
pytest==9.1.1
python-dotenv==1.2.2
rich==15.0.0
setuptools==83.0.0
tomlkit==0.15.0
typing-inspection==0.4.2
typing_extensions==4.16.0
