# Template file for .env

# Logging level (e.g. DEBUG, INFO, WARNING)
# LOGGING_LEVEL = "INFO"

# Select a repository implementation
# HABIT_REPOSITORY = "JsonRepository"

# Configure JsonRepository
# JSON_FILE_PATH = "./data/my.json"