# Template file for .env

# Select a repository implementation
# HABIT_REPOSITORY = "JsonRepository"

# Configure JsonRepository
# JSON_FILE_PATH = "./repository.json"

# Cofigure SQLite Repository
# SQLITE_DB_PATH = "./repository.sqlite"